<html>
    <head>
        <title>Victoria Mason Designs</title>
    </head>
    <body>
        <div>
            <h1><a href="">Victoria Mason Designs</a></h1>
        </div>

        <div>
            <p>published: 14.05.2016, 14:53</p>
            <h2><a href="">Welcome to my new blog</a></h2>
            <p>In this blog we will showcase some of my latest design work.</p>
        </div>

        <div>
            <p>published: 13.06.2016, 12:14</p>
            <h2><a href="">Follow me on Facebook</a></h2>
            <p>This is an area where you can get in touch with me as well as view my work</p>
        </div>
    </body>
</html>